<!DOCTYPE html>
<html>
<head>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Load the Paper.js library -->
<!-- <script type="text/javascript" src="/javascripts/paperjs-v0.9.18/dist/paper-full.js"></script> -->

<!-- Load external PaperScript and associate it with myCanvas -->
<!-- <script type="text/paperscript" src='/javascripts/paper.js' canvas="myCanvas"></script> -->

<script type="text/javascript" src='/javascripts/index-pagescript.js'></script>

<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />

</head>
<body>

<!-- 	<video autoplay loop poster="images/bkg-loading.png" id="bgvid">
		<source src="images/simple_sidescroll_longer_blue.mp4" type="video/mp4">
	</video> -->

	<div id="riptide">
		<!-- <img src="images/bkg-scrolling-img.png"></img> -->
	</div>

	  <div id="background-animation-container">

		<div id="ani-oyster" class="gif" style="width: 100%;">
			<img src="images/ani-oyster.gif"></img>
		</div>

		<div id="seaweed-04" class="gif" style="width: 100%;">
			<img src="images/beach_seaweed04.gif"></img>
		</div>

		<div id="seaweed-06" class="gif" style="width: 100%;">
			<img src="images/beach_seaweed06.gif"></img>
		</div>

		<div id="big-data-empty" class="gif" style="width: 100%;">
			<img src="images/big_data_empty.gif"></img>
		</div>

		<div id="red-seaweed" class="gif" style="width: 100%;">
			<img src="images/BWNWDANI.gif"></img>
		</div>
		
		<!-- second batch -->

		<div id="data-plan" class="gif" style="width: 100%;">
			<img src="images/data_plan.gif"></img>
		</div>

		<div id="seaweed-07" class="gif" style="width: 100%;">
			<img src="images/seaweed7-tall.gif"></img>
		</div>

		<div id="money-computer" class="gif" style="width: 100%;">
			<img src="images/money_computer.gif"></img>
		</div>

		<div id="lines-data" class="gif" style="width: 100%;">
			<img src="images/lines_data.gif"></img>
		</div>

		<div id="data-walker" class="gif" style="width: 100%;">
			<img src="images/data_walker.gif"></img>
		</div>

		<div id="fish-suit-guy" class="gif" style="width: 100%;">
			<img src="images/fish_suit_guy.gif"></img>
		</div>

		<div id="flashing-globe-triangle" class="gif" style="width: 100%;">
			<img src="images/flashing_globe_triangle.gif"></img>
		</div>

		<div id="data-nodules-pink" class="gif" style="width: 100%;">
			<img src="images/data_nodules_pink.gif"></img>
		</div>

		<div id="bars" class="gif" style="width: 100%;">
			<img src="images/bars.gif"></img>
		</div>

		<div id="sponge-bob" class="gif" style="width: 100%;">
			<img src="images/spongebob_dataeyes.gif"></img>
		</div>

		<div id="dancing-9" class="gif" style="width: 100%;">
			<img src="images/dancing_9.gif"></img>
		</div>

		<div id="dancing-2" class="gif" style="width: 100%;">
			<img src="images/dancing_2.gif"></img>
		</div>

		<div id="swimming-corgi" class="gif" style="width: 100%;">
			<img src="images/swimming_corgi.gif"></img>
		</div>

		<div id="three-d-katrina" class="gif" style="width: 100%;">
			<img src="images/katrina_3d_graph_foreground.gif"></img>
		</div>

<!-- 		<div id="three-d-graph" class="gif" style="width: 100%;">
			<img src="images/3d_graph_for_foregrond.gif"></img>
		</div> -->

	</div>

	<canvas id="myCanvas" resize></canvas>

</body>
</html>