<!DOCTYPE html>
<html>
<head>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Load the Paper.js library -->
<!-- <script type="text/javascript" src="/javascripts/paperjs-v0.9.18/dist/paper-full.js"></script> -->

<!-- Load external PaperScript and associate it with myCanvas -->
<!-- <script type="text/paperscript" src='/javascripts/paper.js' canvas="myCanvas"></script> -->

<script type="text/javascript" src='/javascripts/index-pagescript.js'></script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/socket.io-1.0.4.js"></script>
<script>
var myID;
var myImage;
	var bassData = {
		id: myID,
		image: myImage,
		position: {
			x: 0,
			y: 0
		}
	};

	$(function () {
		bassData.myID = randomString();
		bassData.myImage = randomImage();
	})

	var socket = io.connect();

	var possibleImages = [
		"/images/bass/bass__jurassic_park.gif",
		"/images/bass/bass_windows.gif",
		"/images/bass/bass_dolls.gif",
		"/images/bass/bass_bootstrap.gif",
		"/images/bass/bass_eclipse.gif",
		"/images/bass/bass_beesandbombs.gif",
		"/images/bass/bass_daily_task.gif",
		"/images/bass/bass_tje.gif",
		"/images/bass/bass_city.gif",
		"/images/bass/bass_badblueprints.gif"
	];

	//generates a unique ID for each user. 
	function randomString(){
	var randString = "";
	var possibleLetters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	for (var i = 0 ; i < 8; i++){
		var index = parseInt(Math.random()*possibleLetters.length);
		var randLetter = possibleLetters.charAt(index);
			randString+=randLetter;
		}
		return randString;
	}

	//choose a random image
	function randomImage(){
		var index = parseInt(Math.random()*possibleImages.length);
		return possibleImages[index];
	}

	var lastMove = 0;
	var eventThrottle = 1000;

	$(document).click(function(event) {
		bassData.position = {
			x : event.clientX,
			y : event.clientY
		};
		socket.emit('moved-event', bassData);
	});

	socket.on('added user', function (data) {
		console.log("user added");
	});

	socket.on('move response', function (data) {
		console.log("data:" + JSON.stringify(data)); 
		console.log("bassData:" + JSON.stringify(bassData)); 

		var picElement = $("#" + data.myID);

		// If there's already an html element
		if (picElement.length > 0){
			picElement.animate({
				left : data.position.x,
				top: data.position.y
			}, 1000, "linear");

		// Else make one
		} else {
			
			var el = $("<div></div>").appendTo($("#container")).attr({"id" : data.myID, "class" : "partyGoer"});
			el.append("<img src ='" + data.myImage + "'>");
			// el.append("<audio src='../static/sounds/" + data.sound + "' autoplay loop preload='auto'>");
			// el.append(data.text).html();
		}
	});

</script>

<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />

</head>
<body>

<!-- 	<video autoplay loop poster="images/bkg-loading.png" id="bgvid">
		<source src="images/simple_sidescroll_longer_blue.mp4" type="video/mp4">
	</video> -->

	<div id="container">
  	</div>

	<div id="riptide">
		<!-- <img src="images/bkg-scrolling-img.png"></img> -->
	</div>

	  <div id="background-animation-container">

		<div id="ani-oyster" class="gif" style="width: 100%;">
			<img src="images/ani-oyster.gif"></img>
		</div>

		<div id="seaweed-04" class="gif" style="width: 100%;">
			<img src="images/beach_seaweed04.gif"></img>
		</div>

		<div id="seaweed-06" class="gif" style="width: 100%;">
			<img src="images/beach_seaweed06.gif"></img>
		</div>

		<div id="big-data-empty" class="gif" style="width: 100%;">
			<img src="images/big_data_empty.gif"></img>
		</div>

		<div id="red-seaweed" class="gif" style="width: 100%;">
			<img src="images/BWNWDANI.gif"></img>
		</div>
		
		<!-- second batch -->

		<div id="data-plan" class="gif" style="width: 100%;">
			<img src="images/data_plan.gif"></img>
		</div>

		<div id="seaweed-07" class="gif" style="width: 100%;">
			<img src="images/seaweed7-tall.gif"></img>
		</div>

		<div id="money-computer" class="gif" style="width: 100%;">
			<img src="images/money_computer.gif"></img>
		</div>

		<div id="lines-data" class="gif" style="width: 100%;">
			<img src="images/lines_data.gif"></img>
		</div>

		<div id="data-walker" class="gif" style="width: 100%;">
			<img src="images/data_walker.gif"></img>
		</div>

		<div id="fish-suit-guy" class="gif" style="width: 100%;">
			<img src="images/fish_suit_guy.gif"></img>
		</div>

		<div id="flashing-globe-triangle" class="gif" style="width: 100%;">
			<img src="images/flashing_globe_triangle.gif"></img>
		</div>

		<div id="data-nodules-pink" class="gif" style="width: 100%;">
			<img src="images/data_nodules_pink.gif"></img>
		</div>

		<div id="bars" class="gif" style="width: 100%;">
			<img src="images/bars.gif"></img>
		</div>

		<div id="sponge-bob" class="gif" style="width: 100%;">
			<img src="images/spongebob_dataeyes.gif"></img>
		</div>

		<div id="dancing-9" class="gif" style="width: 100%;">
			<img src="images/dancing_9.gif"></img>
		</div>

		<div id="dancing-2" class="gif" style="width: 100%;">
			<img src="images/dancing_2.gif"></img>
		</div>

		<div id="swimming-corgi" class="gif" style="width: 100%;">
			<img src="images/swimming_corgi.gif"></img>
		</div>

		<div id="three-d-katrina" class="gif" style="width: 100%;">
			<img src="images/katrina_3d_graph_foreground.gif"></img>
		</div>

<!-- 		<div id="three-d-graph" class="gif" style="width: 100%;">
			<img src="images/3d_graph_for_foregrond.gif"></img>
		</div> -->

	</div>

	<canvas id="myCanvas" resize></canvas>

</body>
</html>